:root {
    --arrow-box-size: 35vmin;
    --circle-size: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color:#fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    text-align: center;
    margin-top: 2vh;
}

.upper-box {
    width: 50vw;
    display: flex; 
    justify-content: space-between;
}

.box{
    width: 40vmin;
    height: 40vmin;
    margin: 50px auto;
    position: relative;
    perspective: 400px;    
}

.cube {
    width: 100%;
    height: 100%;
    position: absolute;
}

.circle {
    width: var(--circle-size);
    height: var(--circle-size);
    border-radius: 50%;
    margin: 0;
    position: absolute;
    animation-name: strobe;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /* background-image: repeating-conic-gradient(red 0deg, red 40deg, orange 40deg, orange 80deg, yellow 80deg, yellow 120deg, lime 120deg, lime 160deg, green 160deg, green 200deg, blue 200deg, blue 240deg, pink 240deg, pink 280deg, violet 280deg, violet 320deg, violet 360deg, red 360deg); */
    background-image: repeating-conic-gradient(white, black, white, black, white, black, white, black, white, black, white, black, white);
}

.arrow-box {
    height: var(--arrow-box-size);
    width: var(--arrow-box-size);
    background-color: blue;
    border-radius: 50%;
    margin: calc(var(--arrow-box-size)/13);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow {
    background-image: url('./assets/arrow.svg');
    /* background-image: url('./assets/close_arrow.svg'); */
    /* background-image: url('./assets/open_arrow.svg'); */
    /* background-image: url('./assets/loop_arrow.svg'); */
    height: 10vmin;
    width: 10vmin;
    background-color: blue;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    top: 10vmin;
    left: 10vmin;
    text-align: center;
}

.oposite-arrow {
    transform: rotateY(180deg);
}

@keyframes strobe {
    0% {transform: rotate(0deg)}   
    33% {transform: rotate(120deg)}   
    33.1% {transform: rotate(120deg)}   
    66% {transform: rotate(240deg)}   
    66.1% {transform: rotate(240deg)}   
    100% {transform: rotate(360deg)}   
}

.star-animation {
    overflow: hidden;
    height: 60vh;
    width: 100vw;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gradient {
    position: block;
    height: 200vw;
    width: 200vw;
    background: repeating-conic-gradient(from 0deg, transparent 0deg 30deg, yellow 30deg 60deg);
    animation-name: gradient;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.plain-circle {
    position: absolute;
    height: 30vmin;
    width: 30vmin;
    background-color: red;
    border-radius: 50%;
}

.star {
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    background-color: orange;
    height: 40vmin;
    width: 40vmin;
    position: absolute;
    box-shadow: 30px 0 black;
}

@keyframes gradient {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}
