* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color:#fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    text-align: center;
    margin-top: 2vh;
}

.upper-box {
    width: 40vw;
    display: flex; 
    justify-content: space-between;

}

.box{
    width: 40vmin;
    height: 40vmin;
    margin: 50px auto;
    position: relative;
    perspective: 400px;
    /* transform: rotate(25deg); */
    
}

.cube {
    /* width: 30vmin;
    height: 30vmin; */
    width: 100%;
    height: 100%;
    position: absolute;
    /* transform-style: preserve-3d; */
}

.circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin: 0;
    /* border: 8vmin solid black; */
    position: absolute;
    animation-name: strobe;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    background-image: repeating-conic-gradient(white, black, white, black, white, black, white, black, white, black, white, black, white);
}

.arrow-box {
    height: 30vmin;
    width: 30vmin;
    background-color: blue;
    border-radius: 50%;
    top: 5vmin;
    left: 5vmin;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow {
    background-image: url('./assets/arrow.svg');
    height: 10vmin;
    width: 10vmin;
    background-color: blue;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    /* position: absolute; */
    top: 10vmin;
    left: 10vmin;
    /* width: 100%; */
    text-align: center;
}

.oposite-arrow {
    transform: rotate(180deg);
}


@keyframes strobe {
    0% {   background-image: repeating-conic-gradient(red, orange, yellow, lime, green, cyan, blue, pink, violet, red);}
    25% {  background-image: repeating-conic-gradient(red, orange, yellow, lime, green, cyan, blue, pink, violet, red);}
    25% {  background-image: repeating-conic-gradient(lime, green, cyan, blue, pink, violet, red, orange, yellow, lime);}
    50% {  background-image: repeating-conic-gradient(lime, green, cyan, blue, pink, violet, red, orange, yellow, lime);}
    50% {  background-image: repeating-conic-gradient(blue, pink, violet, red, red, orange, yellow, lime, green, cyan, blue);}
    75% {  background-image: repeating-conic-gradient(blue, pink, violet, red, red, orange, yellow, lime, green, cyan, blue);}
    75% { background-image: repeating-conic-gradient(red, orange, yellow, lime, green, cyan, blue, pink, violet, red );}
    100% { background-image: repeating-conic-gradient(red, orange, yellow, lime, green, cyan, blue, pink, violet, red );}
}